fmod/project/Assets/Tracks/choir/choir.flp
fmodengine.beautified.js
node_modules/
dist/
fmodstudio_download/
test_certificates/
bun.lockb
*.wav
*.flp
audio_assets/*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
