
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: small;
    text-align: center;
    color: white;
    background-color: rgb(40, 6, 63);
}

ul#play-queue {
    list-style-type: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    outline: 1px solid #ca8baf;
}

button {
    border-radius: 3px;
    box-shadow: 5px 5px rgb(145, 97, 124);
    font-family: inherit;
    font-weight: bold;
    background-color: rgb(255, 238, 222);
    color: rgba(0, 0, 0, 0.801);
}

button:active {
    border-radius: 3px;
    box-shadow: 2px 2px rgb(92, 45, 71);
    font-family: inherit;
    font-weight: bolder;
    background-color: rgb(206, 168, 189);
    
    /* This compensates for the shadow shrinking, and makes it look like the button is being pressed down.
    It should be set to the difference between the box shadow when the button is active vs not active. */
    translate: 3px 3px;
}

button > * {
    box-shadow: none !important;
}

#play-pause-icon {
    width: 2em;
    height: 2em;
    margin: 1em 1em 1em 1em;
    box-shadow: inherit;
}


.slider-container {
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* filter: drop-shadow(0 0 10px rgb(255, 238, 222)); */
}

/* .slider {
    -webkit-appearance: none;
    width: 50px;
    height: 100px;
    cursor: pointer;
    
    -webkit-appearance: slider-vertical;
    appearance: default;
} */

input.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 50px;
    margin: 0 0 0 0 !important;
    transform: translateY(25px) rotate(270deg);
    transform-origin: center;
    -webkit-transform: translateY(25px) rotate(270deg);
    -webkit-transform-origin: center;
    -moz-transform: translateY(25px) rotate(270deg);
    background: transparent;
    position: relative;
}
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    background: #6b6b6b;
    height: 20px;
    transform: translateY(-8px);
    border-radius: 2px;
    
}

::-webkit-slider-runnable-track {
    background-color: #2e2e2ee5;
    height: 4px;
    border-radius: 2px;
    filter: drop-shadow(0 0 20px red);
}

::-moz-range-track {
    -moz-appearance: none;
}

::-moz-range-thumb {
    -moz-appearance: none transparent;
    -moz-transform: none;
    width: 5px;
    background: #8d84ac;
    height: 20px;
    border-radius: 2px;
    position: relative;
    z-index: 100;
    border: none;

}

.slider-track {
    position: absolute;
    background-color: #2e2e2ee5;
    margin-left: 48px;
    height: 100px;
    width: 4px;
    border-radius: 2px;
    border: none;
}

label {
    margin-top: 10px;
}


.track-control-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: 100px;
    justify-content: center;
    justify-items: center;
    width: 450px;
    height: 150px; 
    margin-top: 10px;
}

#active-label {
    margin: 0px 0px 0px 0px;
    grid-area: 4 / span 4;
}

#active-label.hr {
    width: 450px;
}

#ambience-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: 100px;
    justify-content: center;
    justify-items: center;
    width: 300px;
    height: 150px;
    margin-top: 10px;
    margin-right: 150px;
}

.slider-container > label {
    grid-row-start: 2;
}

.ambience-toggle {
    width: 30px;
    height: 30px;
    margin: 10px;
    background-color: default;
}

.ambience-toggle-light {
    width: 8px;
    height: 8px;
    margin: 2px 3px 3px 3px;
    background-color: rgb(48, 48, 48);
    border-radius: 2px;
    box-shadow: inherit;
}

.track-label-changed {
    animation-name: track-change;
    animation-duration: 1s;
    text-align: left;
    font-style: italic;
}

.track-label {
    animation-name: none;
    text-align: left;
    font-style: italic;
}

#current-track-name {
    font-style: italic;
}

@keyframes track-change {
    from {
        color: yellow;
    } to {
        color: white;
    }
}


#transport-container {
    vertical-align: middle;
}

#control-container {
    display: grid;
    grid-template-columns: 450px 300px 450px;
    justify-items: center;
    justify-content: center;
}

.effectiveness-light {
    width: 10px;
    height: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
}