.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100px;
    height: 50px;
    margin: 0 0 0 0 !important;
    --slider-thumb-background: var(--slider-thumb-grey);
    transform: translateY(25px) rotate(270deg);
    transform-origin: center;
    -webkit-transform: translateY(17px) rotate(270deg);
    -webkit-transform-origin: center;
    -moz-transform: translateY(25px) rotate(270deg);
    background: transparent;
    position: relative;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    /* background: var(--slider-thumb-background); */
    background: grey;
    height: 20px;
    transform: translateX(-8px);
    border-radius: 2px;
    
}
.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

::-moz-range-track {
    -moz-appearance: none;
}

.slider::-moz-range-thumb {
    -moz-appearance: none transparent;
    -moz-transform: none;
    width: 5px;
    background: var(--slider-thumb-background);
    height: 20px;
    border-radius: 2px;
    position: relative;
    z-index: 100;
    border: none;

}

.slider-track {
    position: absolute;
    background-color: #2e2e2ee5;
    margin-left: 48px;
    height: 100px;
    width: 4px;
    border-radius: 2px;
    border: none;
}

.slider-container {
    width: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    /* filter: drop-shadow(0 0 10px rgb(255, 238, 222)); */
}
